@layer reset, theme, global, layout, module;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@layer theme {
  :root {
    --items-bg-color: #e6e7eb;
    --page-bg-color: #f3f4f6;
    --text-color: #1d1d1f;
    --border-color: #d2d5da;
    --details-input-bg-color: #f3f4f6;
    --white: #fff;
  }
}

@layer global {
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--details-input-bg-color);
  }

  .banner-img {
    height: 192px;
    object-fit: cover;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: -150px;
  }

  .title {
    font-size: 1.5rem;
    color: var(--white);
  }

  .badge {
    font-size: 0.75rem;
    background-color: var(--text-color);
    color: var(--page-bg-color);
    padding: 0.25rem 0.5rem;
    border-radius: 16px;
  }
}
